<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <title>URL Shortener Microservice</title>
    <body>
        <center><div class="header container-fluid"><h1> API Basejump: File Metadata Microservice</h1>
            <center><div class="UserS">
                <ol>User Stories<p>
                    <ol>1) I can submit a FormData object that includes a file upload.<p>
                    2) When I submit something, I will receive the file size in bytes within the JSON response.<p>
                    </ol></ol>
                    <form action="" method = 'POST'  enctype=multipart/form-data>
                        </div>

                <input type='file' size='30' name='file'>

                <input type='submit' value='Upload' class="btn">
        </form>     
                
            </ol></div></center></center>
        